@media only screen and (max-width: 500px) {
    .todo-app{
        max-width: 450px;
    }

    .row{
        position: relative;
        display: grid;
        grid-template-rows: minmax(8px, 100%) repeat(1, 1px);
    }

    .row button{
        position: absolute;
        top: 2px;
        right: 2px;
        padding: 6px 25px;
        font-size: 15px;
        font-weight: 500;
    } 

    /* ul li{
        display: grid;
        grid-template-rows: minmax(5px, auto) repeat(2, 5px);
    } */
}