@media only screen and (max-width: 500px) {
    .todo-app{
        max-width: 450px;
    }

    .row{
        position: relative;
    }

    .row button{
        position: absolute;
        top: 2px;
        right: 2px;
        padding: 6px 25px;
        font-size: 15px;
        font-weight: 500;
        color: red;
    } 
}